---
import SearchForm from "../components/forms/SearchForm";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="flex justify-center items-center h-screen w-auto mx-2">
        <div class="search-container w-128">
            <h1
                class="text-6xl text-gray-800 font-extrabold text-center mb-4 tracking-tighter"
            >
                JobSearch
            </h1>
            <p class="text-gray-600 text-center mb-8">
                Gathers information from all the popular job sites!
            </p>
            <SearchForm client:load />
        </div>
    </div>
</Layout>
